@import "tailwindcss";

@theme {
  --color-primary-bg: #fbf6f1;
  --color-secondary-bg: #e5e0da;
  --color-accent-1: #c2bfcb;
  --color-accent-2: #7e7b46;
  --color-primary-text: #223614;
  --color-secondary-text: #fbf6f1;
  --font-family-gopher: var(--font-gopher);
}

* {
  font-family: var(--font-gopher), sans-serif;
}

.gopher {
  font-family: "gopher";
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.animate-fadeOut {
  animation: fadeOut 0.3s ease-in-out;
}
