@import "tailwindcss";

@theme {
  --color-primary-bg: #f7f9f9;
  --color-secondary-bg: #e0d0c1;
  --color-accent-1: #d9f5d7;
  --color-accent-2: #a76d60;
  --color-primary-text: #601700;
  --color-secondary-text: #f7f9f9;
  --font-family-gopher: var(--font-gopher);
}

* {
  font-family: var(--font-gopher), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Arial, sans-serif;
}

.gopher {
  font-family: "gopher";
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.animate-fadeOut {
  animation: fadeOut 0.3s ease-in-out;
}
